---
import "../styles/components/HeroText.scss";

interface Props {
  top: string;
  bottom: string;
  topAlign?: "left" | "center" | "right";
  bottomAlign?: "left" | "center" | "right";
  topSize?: string | number;
  bottomSize?: string | number;
}

const {
  top,
  bottom,
  topAlign = "center",
  bottomAlign = "center",
  topSize = "huge",
  bottomSize = "huge",
} = Astro.props;
---

<div class="hero-text">
  <span
    class:list={[
      `hero-text-top`,
      `hero-text-align-${topAlign}`,
      typeof topSize === "string" && `hero-text-size-${topSize}`,
      "fade-in-ltr",
    ]}
    style={typeof topSize === "number"
      ? `font-size: ${topSize}px;`
      : typeof topSize === "string"
        ? `font-size: ${topSize};`
        : undefined}>{top}</span
  >
  <span
    class:list={[
      `hero-text-bottom`,
      `hero-text-align-${bottomAlign}`,
      typeof bottomSize === "string" && `hero-text-size-${bottomSize}`,
      "fade-in-rtl",
    ]}
    style={typeof bottomSize === "number"
      ? `font-size: ${bottomSize}px; animation-delay: 0.7s;`
      : typeof bottomSize === "string"
        ? `font-size: ${bottomSize}; animation-delay: 0.7s;`
        : "animation-delay: 0.7s;"}>{bottom}</span
  >
</div>
