---
import Button from "./Button.astro";
import "../styles/components/ProjectCard.scss";

interface Props {
  image: string;
  alt: string;
  title: string;
  description: string;
  href: string;
  tags?: string[];
}

const { image, alt, title, description, href, tags = [] } = Astro.props;
---

<article class="project-card">
  <div class="project-image">
    <img src={image} alt={alt} loading="lazy" />
  </div>
  <div class="project-content">
    <h3>{title}</h3>
    <p>{description}</p>
    {
      tags.length > 0 && (
        <ul class="project-tags">
          {tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
      )
    }
    <Button href={href} variant="primary">View Project</Button>
  </div>
</article>
